:root {
    --main-surface: #d4dadf;
    --secondary-surface: #f0f0f0;
    --sidebar-surface: #d4d4d4;
    --main-font: rgb(51, 51, 51);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


header {
    background-color: var(--sidebar-surface);
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgb(182, 182, 182);
    max-height: 80px;
    min-height: 80px;
    height: 80px;
    z-index: 999;
    position: relative;
    box-shadow: 0 3px 3px -3px rgb(182, 182, 182);
    
}

.title {
    color: rgb(25, 42, 78);
    margin-left: 30px;
}

.sub-title {
    color: var(--main-font);
}

.main {
    height: 100vh;
}

button {
    background: none;
    color: inherit;
    outline: inherit;
}

button:hover {
    background-color: rgb(25, 42, 78);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 999;
    bottom: 0;
}

#apiKeyForm {
    background-color: var(--sidebar-surface);
    padding: 20px;
    border-radius: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 0;
}

#apiKeyForm input {
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    padding: 0px 5px;
}

#apiKeyForm button {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid rgb(25, 42, 78);
    font-weight: 600;
}

.side-bar {
    background-color: var(--sidebar-surface);
    color: var(--main-font);
    width: 233px;
    min-width: 233px;
    max-width: 233px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    border-right: 1px solid  rgb(182, 182, 182);
    box-shadow: 5px 3px 4px -5px rgb(182, 182, 182);
}

.side-bar-content-container {
    display: block;
    margin-top: 80px;
    padding: 10px 10px;
}

.side-bar-header {
    text-align: center;
    padding: 10px 0;
}

.step-card {
    padding: 4px 0;
    font-size: 14px;
}

.content {
    background-color: var(--secondary-surface);
    position: absolute;
    width: 100vw;
    padding-top: 80px;
    padding-left: 233px;
    z-index: 0;
    height: 100%;
    top: 0;
}

.content-container {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.run-btn {
    width: 130px;
    height: 50px;
    border-radius: 8px;
    border: 3px solid rgb(25, 42, 78);
    font-weight: 600;
    margin-top: 50px;
}
