<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Transcript Workflow</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main">
        <header>
            <img src="../static/logo_solid_gray_background.png" width="100px" alt="app logo" class="app-logo">
            <h1 class="title">Auto Transcript Workflow</h1>
            <h2 class="sub-title">Powered by OpenAI</h2>
        </header>
        <div class="side-bar">
            <div class="side-bar-content-container">
                <div class="side-bar-header">
                    <h3>Steps</h3>
                </div>
                <div class="step-card">
                    <p>Connecting to google drive API</p>
                </div>
                <div class="step-card">
                    <p>Successfully connected to google drive API</p>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="content-container">
                <div class="api-logo-container">
                    <img src="../static/openai logo.png" width="100px" height="100px" alt="openai logo">
                    <img src="../static/Google-Drive-logo.png" height="100px" alt="google drive logo">
                </div>
                <form action="/run_main" method="post">
                    <button type="submit" class="run-btn">Click to Run</button>
                </form>
            </div>
        </section>
    </div>
</body>
</html>