<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/sign-in.css">
</head>
<body>
    <header>
        <h1 class="title">Auto Transcript Workflow</h1>
        <h2 class="sub-title">Powered by OpenAI API</h2>
    </header>
    <section id="form-section">
        <form action="/sign-in" method="post" class="sign-in-form" id="signInForm">
            {{ form.hidden_tag() }}
            <div class="form-header">
                <h1>Sign In</h1>
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control sign-in-input username", id="username")}}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control sign-in-input password", id="password")}}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </section>
</body>
</html>