<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/sign-in.css">
</head>
<body>
    <header>
        <h1 class="title">Auto Transcript Workflow</h1>
        <h2 class="sub-title">Powered by OpenAI API</h2>
    </header>
    <section id="form-section">
        <form action="/sign-in" method="post" class="sign-in-form">
            <div class="form-header">
                <h1>Sign In</h1>
            </div>
            <label for="username">Username</label>
            <input type="text" name="username" class="sign-in-input username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" class="sign-in-input password" id="password" required>
            <button type="submit">Sign in</button>
        </form>
    </section>
</body>
</html>